apiVersion: v1
kind: Service
metadata:
  name: flaskr-service
spec:
  selector:
    app: flaskr
  ports:
  - protocol: "TCP"
    port: 6000
    targetPort: 5000
  type: LoadBalancer

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flaskr
spec:
  selector:
    matchLabels:
      app: flaskr
  replicas: 4
  template:
    metadata:
      labels:
        app: flaskr
    spec:
      containers:
      - name: flaskr
        image: flaskr:1.0.0
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
