services:
  web1:
    image: nginxdemos/hello:plain-text
  web2:
    image: nginxdemos/hello:plain-text
  nginx-lb:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web1
      - web2